body {
    margin: 0;
    padding: 0;
}

header {
    background-color: steelblue;
}

/*** NAVBAR ***/
nav {
    display: flex;
    height: 40px;
    align-items: center;
    width: 80%;
    margin: auto;
}

nav div a:first-of-type {
    margin-left: 100px;
}

nav a {
    text-decoration: none;
    color: white;
    opacity: 0.5;
    margin-right: 50px;
    font-size: 18px;
}

nav a:hover {
    opacity: 1;
}

.active {
    opacity: 1;
}

/*** PAGE D'ACCUEIL ***/

.welcome {
    width: 80%;
    margin: auto;
    background-color: #e8ecef;
}

.welcome h1, .welcome p {
    padding-left: 20px;
}

.welcome h1 {
    padding-top: 20px;
}

.welcome p {
    padding-bottom: 20px
}

/*** PAGE DE RECHERCHE ***/

.search , .searchForm {
    width: 80%;
    margin: auto;
}

.searchForm {
    margin-bottom: 30px;
}

.searchForm  form {
    display: flex;
}

.searchForm div {
    margin-right: 60px;
}

.searchForm div label {
    margin-right: 30px;
}

#tracks ,#favTracks{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#randomFav {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#randomFav button {
    margin-top: 20px;
}

#randomFav audio {
    width: inherit;
}

.randomTrack {
    width: 500px;
    margin-top: 30px;
}
.track{
    width: 380px;
    margin-bottom: 30px;
    padding-right: 20px;
}


.track h1 , .randomTrack h1{
    margin: 0;
}

.track div , .randomTrack div{
    display: flex;
    margin-bottom: 10px;
}

.track img , .randomTrack img{
    height: 120px;
}
.track-data{
    margin-left: 20px;
    display: block !important;
}

.unchecked {
    background-color: steelblue;
    border: none;
    border-radius: 40px;
    color: white;
    height: 25px;
}

.unchecked:hover {
    cursor: pointer;
}

.checked {
    background-color: crimson;
    border: none;
    border-radius: 40px;
    color: white;
    height: 25px;
}

.checked:hover {
    cursor: pointer;
}