body {
    margin: 0;
    padding: 0;
}

header {
    background-color: steelblue;
}

/*** NAVBAR ***/
nav {
    display: flex;
    height: 40px;
    align-items: center;
    width: 80%;
    margin: auto;
}

nav div a:first-of-type {
    margin-left: 100px;
}

nav a {
    text-decoration: none;
    color: white;
    opacity: 0.5;
    margin-right: 50px;
    font-size: 18px;
}

nav a:hover {
    opacity: 1;
}

.active {
    opacity: 1;
}

/*** PAGE D'ACCUEIL ***/

.welcome {
    width: 80%;
    margin: auto;
    background-color: #e8ecef;
}

.welcome h1, .welcome p {
    padding-left: 20px;
}

.welcome h1 {
    padding-top: 20px;
}

.welcome p {
    padding-bottom: 20px
}

/*** PAGE DE RECHERCHE ***/

.search , .searchForm {
    width: 80%;
    margin: auto;
}

.searchForm  form {
    display: flex;
}

.searchForm div {
    margin-right: 60px;
}

.searchForm div label {
    margin-right: 30px;
}

#tracks {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.track {
    width: 300px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.track div {
    display: flex;
}

.track img {
    height: 120px;
}
.track-data {
    margin-left: 20px;
    display: block !important;
}